@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

html, a {
	font-family: "Poppins", sans-serif !important;
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

main {
	flex: 1 0;
}

footer {
	flex: 0 0;
}
